[ ca ]
default_ca  = CA_default

[ CA_default ]
dir                 = ${ENV::OPEN592_CA_ROOT_DIR}
certs               = $dir/certs
crl_dir             = $dir/crl
new_certs_dir       = $dir/newcerts
database            = $dir/index.txt
serial              = $dir/serial
RANDFILE            = $dir/private/.rand

# The root key and root certificates
private_key         = $dir/private/ca.key.pem
certificate         = $dir/certs/ca.cert.pem

# For certificate revocation lists.
crlnumber           = $dir/crlnumber
crl                 = $dir/crl/ca.crl.pem
crl_extensions      = crl_ext
default_crl_days    = 30

name_opt            = ca_default
cert_opt            = ca_default
default_days        = 375
preserve            = no
policy              = policy_strict

# Policy strict will be applied for all root CA signatures, which will
# only be applied to create intermediate CA signatures.
[ policy_strict ]
# The root CA should only sign intermediate certificates that match.
# See the POLICY FORMAT section of `man ca`
countryName             = match
stateOrProvinceName     = optional
organizationName        = supplied
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

# Policy loose will be applied for all intermediate CA signatures.
[ policy_loose ]
# Allow the intermediate CA to sign a more diverse range of certificates.
# See the POLICY FORMAT section of the `ca` man page.
countryName             = supplied
stateOrProvinceName     = supplied
localityName            = supplied
organizationName        = supplied
organizationalUnitName  = supplied
commonName              = supplied
emailAddress            = optional

# Options from `req` are applied when creating certificates or CSRs
[ req ]
# Options for the `req` rool (`man req`)
prompt                  = no
default_bits            = 1024
string_mask             = utf8only

# Extensions to add when the -x509 option is used.
x509_extensions         = v3_ca

[ v3_ca ]
# Extensions for a typical CA (`man x509v3_config`).
basicConstraints        = critical, CA:TRUE
keyUsage                = critical, cRLSign, keyCertSign

[ v3_intermediate_ca ]
# Extensions for typical intermediate CA (`man x509v3_config`).
basicConstraints        = critical, CA:TRUE, pathlen:0
crlDistributionPoints   = URI:http://crl.thawte.com/ThawtePremiumServerCA.crl
extendedKeyUsage        = clientAuth, codeSigning
keyUsage                = critical, cRLSign, keyCertSign
subjectAltName          = dirName:directory_section
subjectKeyIdentifier    = none
authorityKeyIdentifier  = none

[ directory_section ]
CN = PrivateLabel2-144
